body {
  margin: 0;
}

/* Headers */

h1 {
  font-family: 'Rosario', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

/* Start Section */

#start {
  background-color: #373644;
  text-align: center;
  height: 100vh;
  display: flex;
}

.start-content {
  margin: auto;
}

.light-header {
  color: #8D8DAA;
}

.pink-text {
  color: #F56D91;
}

.projects-btn {

}
